.app {
    background-image: url(./image.jpg);
}

p {
    padding: 0.5em;
    font-weight: bold;
    color: white;
    background-color: rgb(157, 238, 157);
    border-radius: 15px;
    height: 10em;
    width: 7em;
    text-overflow: hidden;
}

.show_all {
    display: flex;
    border-radius: 15px;
    margin: 1em;
    border: 2px solid white;
}

.home {}